.header__content {
  padding: 20rem 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  height: auto;
}

.header__title {
  color: var(--blue);
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 300;
}

.header__des {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.btn {
  padding: 1rem 3rem;
  border-radius: 5px;;
  outline: none;
  border: none;
  box-shadow: 0 5px 5px #eee;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}