.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.menu__list {
  list-style-type: none;
}

.menu__item {
  display: inline-block;
  margin: 0 .5rem;
}

.menu__link {
  color: var(--font-color);
  font-weight: 600;
  opacity: .5;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.menu__link_last {
  background-color: var(--blue);
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff !important;
  margin-left: 3rem;
}

.logo__img {
  width: 12.8rem;;
}